@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  z-index: 1;
}
.all {
  width: 1250px;
  margin: auto;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 85px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  -moz-animation-name: footer-side;
  -o-animation-name: footer-side;
  -webkit-animation-name: footer-side;
  animation-name: footer-side;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.footer,
.banner,
.menu,
.static-information,
.some-article {
  border: 2px solid red;
  text-align: center;
}
@keyframes left-side {
  from {
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes footer-side {
  from {
    -moz-transform: translateY(1270px);
    -ms-transform: translateY(1270px);
    -o-transform: translateY(1270px);
    -webkit-transform: translateY(1270px);
    transform: translateY(1270px);
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes right-side {
  from {
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes top-side {
  from {
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.banner,
.menu,
.static-information,
.some-article {
  height: 20px;
}
.banner {
  float: left;
  width: 200px;
  height: 20px;
}
.right,
.information {
  margin-left: 240px;

}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.menu,
.right {
  float: right;
}
.some-article {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}
.static-information {
  float: left;
  margin-top: 20px;
  -moz-animation-name: left-side;
  -o-animation-name: left-side;
  -webkit-animation-name: left-side;
  animation-name: left-side;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  width: 200px;
  height: 150px;
  margin-bottom: 20px;
}
.banner,
.right {
  -moz-animation-name: top-side;
  -o-animation-name: top-side;
  -webkit-animation-name: top-side;
  animation-name: top-side;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.information {
  -moz-animation-name: right-side;
  -o-animation-name: right-side;
  -webkit-animation-name: right-side;
  animation-name: right-side;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 2;
  position: relative;
  
}
    
.menu {
  margin-right: 0;
}
.menu,
.banner,
.static-information {
  padding: 10px;
}
.right {
  background-color: #dea5eb;
}
.submenu li {
  padding: 5px;
  display: block;
}
.submenu li:hover {
  background-color: #2fc186;
}
.submenu {
  color: white;
  background-color: #0404b4;
  position: absolute;
  left: 0px;
  display: none;
  z-index: 50;
  border: 1px solid #0404b4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  webkit-border-bottom-left-radius: 10px;
  webkit-border-bottom-right-radius: 10px;
  width: 200px;
  height: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  margin-top: 15px;
}
.last-point-menu:hover ul {
  display: block;
  z-index: 100;
}
.last-point-menu:hover {
  background-color: #0404b4;
  color: white;
  border-color: #0404b4;
}
.form {
  margin: 20px;
  margin-left: 240px;
  margin-right: 0;
  padding: 20px;
  border: solid 2px red;
  float: right;
}
input,
textarea {
  width: 150px;
  height: 30px;
  box-sizing: content-box;
}
table,
thead,
#new-element {
  padding: 10px;
  margin-left: 20px;
  margin: 10px;
}
tr,
td,
th {
  border: 1px solid red;
  padding: 10px;
}
table {
  border-collapse: collapse;
}
.last,
.last td {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
#sum {
  border-left: 1px solid red;
}
th {
  background-color: #0080FF;
}
th a {
  font-style: normal;
  color: white;
}
.dsc::after {
  content: '';
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: none;
  position: relative;
  left: 5px;
  top: 15px;
}
.asc::after {
  content: '';
  border-top: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  position: relative;
  left: 5px;
  top: -15px;
}
.paginator a,
.paginator span {
  display: inline-block;
  min-width: 20px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background: #95a5a6;
}
.paginator .prev {
  margin: 20px;
}
.paginator .next {
  margin-left: 20px;
}
.paginator .current {
  background-color: #16a085;
}
.paginator .disabled {
  pointer-events: none;
  opacity: 0.3;
}
.paginator a:hover {
  background-color: #2ecc71;
}
.paginator {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.change-row,
.NewRow {
  display: none;
}
.disabled {
  pointer-events: none;
  opacity: 0.3;
}
@keyframes bg-stripes-move {
  from {
    background-position-x: 70%;
  }
  to {
    background-position-x: 100%;
  }
}
.loader {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  vertical-align: auto;
  display: none;
  width: 152px;
  height: 22px;
  background-repeat: repeat;
  background-size: 40px 40px;
  background-image: linear-gradient(-45deg, #339ecb 25%, #5bb2d6 25%, #5bb2d6 50%, #339ecb 50%, #339ecb 75%, #5bb2d6 75%, #5bb2d6);
  -moz-animation: bg-stripes-move 0.5s linear infinite;
  -o-animation: bg-stripes-move 0.5s linear infinite;
  -webkit-animation: bg-stripes-move 0.5s linear infinite;
  animation: bg-stripes-move 0.5s linear infinite;
  color: #fff;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.circle {
  position: absolute;
}
.circle-animation {
  transition: transform 1s ease-out 0.5s;
  transform: translateX(-100px);
}
.circle {
  border: 20px solid blue;
  border-radius: 50px;
  margin: 200px;
  width: 0;
}
.first,
.second,
.third {
  display: none;
}
.second {
  transform: translateY(-100px);
}
.third {
  transform: rotate(45deg) translateX(-100px);
}
/*# sourceMappingURL=main.css.map */